body {
	font-size: 1.3em;
}

p{
	text-align:          center;
	width:               600px;
	font-size:           .9em;
}
.farsi{
	direction:           rtl;
}

.card{
	font-size:           1em;
	width:               200px;
	padding:             100px 20px;
	max-height:          220px;
	text-align:          center;
	background-color:    #FCFAE6;
	box-shadow:          3px 3px 3px 1px Gainsboro;
	margin-top:          5%;
}

#card_maker{
	padding-top:         50px;
}

#error_text{
	visibility:          hidden;
	padding:             5px;
	color:               DarkRed;
	background:          rgba(178,34,34,.1);
	border:              solid 1px rgba(178,34,34,.2);;
	margin-bottom:       5px;
}

.card-container{
	margin-top:          5%;
	width:               240px;
	height:              270px;
	font-size:           1.5em;
	background-image:    url('/images/cardStack.png');
	background-repeat:   no-repeat;
	background-position: 50% 70%;
	position:            relative;
}

#card_maker {
	z-index: -10;
}

/*http://simonlockyer.info/flip-div-css3-tutorial/ */
.panel {
    width: 200px;
    height: 220px; 
    position: relative;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}
/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.panel .front {
	margin-top: 0;
    position: absolute;
    z-index: 10;
    width: inherit;
    height: inherit;
    text-align: center;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}
.panel .flip .front {
    z-index: 10;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
.panel .back {
	margin-top: 0;
    position: absolute;
    top: 0;
    z-index: -1;
    width: inherit;
    height: inherit;
    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
 
    -moz-transform: rotateY(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}
.panel.flip .back {
    z-index: 100;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}

#new_card{
	font-size:           1.5em;
	display:             none;
	position:            relative;
	margin-top:          0px;
	z-index:             -1;
}

#next_card{
	margin-top: 		 0;
	position:            absolute;
	top:                 1px;
	left:                15px;
	z-index:             -1;
}

button{
	position:            absolute;
	z-index:             100;
}

#next_unit {
	top:                 260px;
	left:                154px;
}

#next{
	top:                 260px;
	left:                120px;
}

#last{
	top:                 260px;
	left:                80px;
}

#last_unit {
	top:                 260px;
	left:                40px;
}

#delete{
	top:                 260px;
	left:                200px;
}

h2 {
	display: inline;
	margin-right: 10px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#unit_controls {
	margin-top: 5%;
	z-index: -10;
}

#unit_controls label {
	margin-right: 5px;
}

#input_field {
	margin-top: 20px;
}

#new_unit {
	font-family: sans-serif;
	margin-left: -45px;
}

#current_unit {
	font-family: 'Ubuntu', sans-serif;
	color: #c6c6c6;
}

.container-full {
	margin: 0 auto;
	width: 100%;
	background-color: gray;
}

.pseudo-nav {
	padding: 20px 0 5px;
	background-color: #494A43;
	box-shadow:          1px 1px 2px 1px #8C8C89;
}

.pseudo-nav img {
	margin-left: -20px;
	margin-top: -15px;
}

.pseudo-nav a:link {
	color: #8C8C89;
}

